<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.min.css">
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light bg-white pt-5 pt-md-10">
    <div class="container p-md-0">
      <a class="navbar-brand me-auto" href="./index.html">
        <h1 class="logo"></h1>
      </a>
      <div class="d-flex">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">景點列表</a>
          </li>
          <div class="pe-2 px-lg-8 d-flex align-items-center d-none d-md-block">|</div>
        </ul>
        <div class="d-none d-md-block">
          <form class="d-sm-flex">
            <div class="d-flex position-relative">
              <a class="searchClick z-index-9999" href="#"><span><i
                    class="fas fa-search text-tertiary position-absolute top-50 translate-middle"
                    style="left: 80%"></i></span></a>
              <input class="inputSearch form-control me-3 border border-tertiary single-rounded-5 box-shadow-none"
                type="text" placeholder="你想出發去哪? " aria-label="Search">
            </div>

            <!-- 連接進階搜尋 modal 的按鈕 -->
            <button
              class="btn btn-primary border border-tertiary single-rounded-2 text-tertiary w-50 box-shadow-none px-4 py-2"
              type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fas fa-sliders-h text-white pe-2"></i>
              進階搜尋</button>
          </form>
        </div>
      </div>

    </div>
  </nav>

  <%- contents %>


    <!-- 篩選條件 modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title h3 text-tertiary" id="exampleModalLabel">篩選條件</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <!-- 篩選區域按鈕 -->
            <div class="areaSelectSection">

              <h4 class="h3 mb-4">請選擇區域 <span class="h4">(可複選)</span></h4>

              <!-- 中正區到大安區 -->
              <div class="formSection d-flex mb-6">

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    中正區
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    大同區
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    中山區
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    松山區
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    大安區
                  </label>
                </div>

              </div>


              <!-- 萬華區到內湖區 -->

              <div class="formSection d-flex mb-6">

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    萬華區
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    信義區
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    士林區
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    北投區
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    內湖區
                  </label>
                </div>

              </div>


              <!-- 南港、文山區 -->

              <div class="formSection d-flex mb-6">

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    南港區
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    文山區
                  </label>
                </div>

              </div>

            </div>


            <!-- 篩選景點類型 -->
            <div class="scenicSpotTypeSection">

              <h4 class="h3 mb-4">請選擇類型 <span class="h4">(可複選)</span></h4>

              <div class="formSection d-flex mb-6">

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    熱門景點
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    遊憩類
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    溫泉類
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    古蹟類
                  </label>
                </div>

              </div>

              <div class="formSection d-flex mb-6">

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    自然風景類
                  </label>
                </div>

                <div class="form-check me-4">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    體育健身類
                  </label>
                </div>

              </div>

            </div>


            <!-- modal 清除、搜尋按鈕 -->
            <div class="modal-footer">
              <button type="button" class="btn btn-white border border-tertiary text-tertiary single-rounded-2"
                data-bs-dismiss="modal"><i class="far fa-trash-alt me-2"></i>清除全部</button>
              <button type="button" class="btn btn-primary border border-tertiary text-tertiary single-rounded-2"><i
                  class="fas fa-paper-plane me-2"></i>送出搜尋</button>
            </div>
          </div>
        </div>
      </div>

      <!-- modal 功能結束 -->

      <script src="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.css.min.js"></script>
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script src="./assets/js/vendors.js"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/3.2.0/sha.js"></script>
      <script src="./assets/js/all.js"></script>
</body>

</html>